<div class="mt-4">
    <form method="post" action="">
        <div class="form-group mb-3">
            <label for="search-input" class="form-label">Key word</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="input keyword...">

            <select name="gender">
                <option value="">chon 1 trong 2</option>
                <option value="male">nam</option>
                <option value="bede">bede</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>