<div class="mt-4">
    <h3>Dang khoa hoc</h3>

    <form method="POST" action="/course/store">
        <div class="mb-3">
            <label for="description" class="form-label">Mo ta</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Ten</label>
            <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
            <label for="videoId" class="form-label">video Id</label>
            <input type="text" class="form-control" name="videoId">
        </div>

        <button type="submit" class="btn btn-primary">Them khoa hoc</button>
    </form>
</div>